/*   */
// All variables can be found here
//https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@import "~antd/lib/style/color/colorPalette.less";
@import "~antd/dist/antd.less";
@import "~antd/lib/style/themes/default.less";

body,
html {
  font-family: "Overpass", "Ubuntu", "Helvetica";
}

// -------- Colors -----------
@primary-color: #e44232;
@link-color: #e5b02c;
@primary-border-color: #bcbcbc;
@primary-text-color: #575757;
@white-color: #ffffff;
// Fonts
@description-font-size: 14px;
@default-fontsize: 16px;
@noble-regular-font-size: 18px;
